body {
  padding: 100px 962px 457px 90px;
  font-family: Arial, Helvetica, sans-serif;
}

div {
  display: flex;
  width: 153px;
  padding-top: 17px;
  flex-direction: column;
  justify-content: flex-end;
  align-items: center;
  gap: 11px;
  border-radius: 10px;
border: 1px solid #563015;
background: #FFF;
}

img {
  width: 153px;
  height: 95px;
  border-bottom-left-radius: 8px;
  border-bottom-right-radius: 8px;
  
}

h1 {
  color: #000;

  font-size: 12px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  text-transform: uppercase;
}

div:hover{
  box-shadow: 5px 5px 10px 0px #c7c7c6;

}